<section class="featured-blog-posts">
  <h2>Featured Products</h2>
  <div class="content-grid" [style.grid-template-columns]="gridCols">
    <div *ngFor="let product of featuredProducts" class="grid-item">
      <mat-card class="content-card">
        <mat-card-header>
          <mat-card-title>{{ product.title }}</mat-card-title>
          <mat-card-subtitle>{{ product.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <img  class="card-img" mat-card-image [src]="product.image" alt="{{ product.title }}">
        <mat-card-content>
          <p class="no-wrap">{{ product.description }}</p>
          <small class="last-modified">Last Modified: {{ product.lastModified | date: 'mediumDate' }}</small>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="cta-button-primary" color="primary" (click)="navigateToProduct(product.link)">
            Read More
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="read-all">
    <button mat-raised-button  class="cta-button-accent" color="accent" (click)="navigateToAllProducts()">
      View all Products
    </button>

  </div>
</section>
