@import './custom-theme.scss'; // Import the variables file
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


mat-card-header {
  background-color: $background-dark-variant;
  color: $primary;
  padding: 0 0px !important;
}


mat-card-title {
  font-size: 1.5rem !important;
  color: $primary !important;
  font-family: 'Poppins', sans-serif !important;
}

mat-card-subtitle {
  font-size: 0.9rem !important;
  color:$text-dark !important;
  font-family: 'Poppins', sans-serif !important;
}

mat-card-content {
  font-size: 1rem !important;
  color: $text-dark;
  padding: 0 0px !important;
}
mat-card-actions {
  display: flex;
  justify-content: flex-end;
}


body{
  background-color: $background;
}

.cta-button-primary {
  background-color: $primary !important ;  /* Accent color (Carrot orange) */
  color: $text !important;
  font-size: 1.1rem !important;
  padding: 12px 30px;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif !important; /* Use Poppins font */
  font-weight: 500 !important; /* Medium weight for links */
  font-size: 16px !important;
  border-radius: 10px!important;
}


.cta-button-primary:hover {
  background-color: $primary-variant !important;  /* Darker shade on hover */
}


.cta-button-accent {
  background-color: $accent ;  /* Accent color (Carrot orange) */
  color:$text-dark !important;
  font-size: 1.1rem !important;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif !important; /* Use Poppins font */
  font-weight: 500 !important; /* Medium weight for links */
  font-size: 16px !important;
  border-radius: 10px!important;

}


.cta-button-accent:hover {
  background-color: $secondary !important;  /* Darker shade on hover */
}

.cta-button2 {
  background-color: rgba($accent, 0.2) !important; /* Semi-transparent accent color */
  color: rgba($accent, 1) !important; /* Text color for readability */
  font-size: 1.1rem !important;
  border: 2px solid $accent !important; /* Accent-colored border */
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  font-family: 'Poppins', sans-serif !important; /* Use Poppins font */
  font-weight: 500 !important; /* Medium weight for links */
  font-size: 16px !important;
  border-radius: 10px!important;

}

.cta-button2:hover {
  background-color: $secondary !important; /* Full accent color on hover */
  color:$text-dark !important;  /* Contrast text color on hover */
  border-color: $secondary !important; /* Optional: darker border shade on hover */
}

section {
  padding: 40px 20px;
}





.section-intro-text {
  font-size: 1.2rem;
  color: $text-dark;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  hyphens: auto;   /* Enable hyphenation */
}

.article-intro-text {
  font-size: 1.2rem;
  color: $text-dark;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  hyphens: auto;
}


h2 {
  font-size: 2rem;
  color: $primary;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  hyphens:auto !important;
  margin-top: 0px;

}
h3 {
  font-size: 1.5rem;
  color: $primary;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
  text-align: left;
  hyphens: auto !important;

}

p, ul {
  font-size: 1rem;
  color: $text-dark;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}



.last-modified {
  font-size: 0.8rem;
  color: $text-dark;
  margin-top: 10px;
  display: block;
}



.read-all {
  margin-top: 24px;
  text-align: center;
}



.grid-item {
  display: flex;
  justify-content: center;
  width: 100%;

}



.no-wrap {
overflow: hidden;
text-overflow: ellipsis;
}


.content-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  margin: 0 auto;
  padding: 0 0px;

  .content-card {
    background-color: $background-dark-variant;
    padding: 20px;

    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; // Keep it centered and readable on mobile
    max-width: 500px; // Prevents it from becoming too wide on tablets
  }



  .card-img {
    height: auto;
    max-height: 300px;
    width: 100%;
    object-fit: cover;
  }





  p {
    text-align: justify;
    hyphens: auto;
  }

}



 strong {
  color: $primary
}


.error-message {
  color: $error;
}

.success-message {
  color: $success;
}


@media (min-width: 768px) {


.content-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  padding: 0 20px;

  .content-card {
    background-color: $background-dark-variant;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: none ;
  }

}


 h2 {
  text-align: center
};


section {
  padding: 60px 100px !important;
}

}

@media (min-width: 1024px) {
  section {
    padding: 60px 140px !important;
  }
}
