
<section class="featured-blog-posts">
  <h2>Featured Blog Posts</h2>
  <div class="content-grid" [style.grid-template-columns]="gridCols">
    <div *ngFor="let post of featuredPosts" class="grid-item">
      <mat-card class="content-card">
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle>{{ post.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <img  class="card-img" mat-card-image [src]="post.image" alt="{{ post.title }}">
        <mat-card-content>
          <p class="no-wrap">{{ post.excerpt }}</p>
          <small class="last-modified">Last Modified: {{ post.lastModified | date: 'mediumDate' }}</small>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="cta-button-primary" color="primary" (click)="navigateToPost(post.link)">
            Read More
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="read-all">
    <button mat-raised-button  class="cta-button-accent" color="accent" (click)="navigateToAllPosts()">
      Read All Blog Posts
    </button>

  </div>
</section>



<!-- <section class="featured-blog-posts">
  <h2>Featured Blog Posts</h2>
  <div class="content-grid" [style.grid-template-columns]="gridCols">
    <div *ngFor="let post of featuredPosts" class="grid-item">
      <mat-card class="content-card">
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle>{{ post.subtitle }}</mat-card-subtitle>
        </mat-card-header>
        <img  class="card-img" mat-card-image [src]="post.image" alt="{{ post.title }}">
        <mat-card-content>
          <p class="no-wrap">{{ post.excerpt }}</p>
          <small class="last-modified">Last Modified: {{ post.lastModified | date: 'mediumDate' }}</small>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="cta-button-primary" color="primary" (click)="navigateToPost(post.link)">
            Read More
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="read-all">
    <button mat-raised-button  class="cta-button-accent" color="accent" (click)="navigateToAllPosts()">
      Read All Blog Posts
    </button>

  </div>
</section>
 -->
