<section class="social-activity">
  <h2>{{data.metadata.title}}</h2>
  <div class="content-grid" [style.grid-template-columns]="gridCols">
    <div *ngFor="let post of data.metadata.dynamicData" class="grid-item">
      <mat-card class="content-card">
        <div class="social-post-header">
          <i class="platform-icon"  [class]="getPlatformIcon(post.platform)" aria-hidden="true"></i>
          <span class="platform-name">{{ getPlatformName(post.platform) }}</span>
        </div>
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
        </mat-card-header>
        <img  class="card-img" mat-card-image [src]="post.media.src" alt="{{ post.media.alt }}">
        <mat-card-content>
          <p class="no-wrap">{{ post.description }}</p>
          <small class="last-modified">Last Modified: {{ post.updatedAt | date: 'mediumDate' }}</small>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button class="cta-button-primary" color="primary" (click)="navigateToPost(post.url)">
            Read More
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  <div class="read-all">
    <button mat-raised-button  class="cta-button-accent" color="accent">
      View all Social Activity
    </button>

  </div>
</section>

