@import '../../../custom-theme.scss'; // Import your Material theme
.social-activity {
  background-color: $background-light-variant;


  .platform-icon {
    width: 24px;
    height: 24px;
    margin-right: 0px;
    vertical-align: middle;
    justify-content: center;/* Fixes the vertical alignment of the icon */
    padding-top: 10px;
  }
  .social-post-header {
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    padding: 0px;
    padding-top: 0px;
    background-color: $background-dark-variant;
    color: $primary;
    font-family: 'Poppins', sans-serif;

  }


  .content-card {

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);


    }
  }
}
