@import '../../../custom-theme.scss'; // Import the variables file

section {
  background-color: $background;
}

.author-photo {
  width: 7.5rem; // 120px
  height: 7.5rem; // 120px
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem; // 16px
  border: 2px solid $primary;
}

.content-grid {
  background-color: $background; // Custom theme variable
  max-width: 100%;
}

.author-details {
  display: flex;
  flex-direction: column;

  .author-name {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: $primary;
    text-align: center;
  }

  .author-bio {
    margin: 0.5rem 0; // 8px
    color: $text-dark;
    text-align: justify;
  }
}

.img-container {
  text-align: center;
}

.author-links {
  display: flex;
  gap: 0.5rem; // 8px

  a {
    color: $primary;
    font-size: 1.2rem;
    transition: color 0.3s;

    &:hover {
      color: darken($primary, 10%);
    }

    i {
      display: inline-block;
      line-height: 1;
    }
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-div {
  text-align: center;
}






  .content-card {
    max-width: none;
  }



@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row;
  }

  .content-grid {
    width: 50%;
    justify-self: center;
    flex-direction: row;
  }

  .author-name,
  .cta-div {
    text-align: left !important;
  }
}
