@import '../custom-theme.scss'; // Import your Material theme

.content {
  flex: 1; /* Allow the main content to grow and fill available space */
  background-color: $background;

}
.main{
  padding-top: 64px;
}
