@import '../../../custom-theme.scss';

.product-reccomendation-wrapper {
  padding-left: 0px;
  padding-right: 0px;
}

.product-reccomendation {
  background-color: $background;

  .paragraph-text {
    text-align: justify;
  }

  img {
    width: 100%;
    border-radius: 10px;
  }

  .reccomendation-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
    color: $primary;
  }

  h3 {
    margin-top: 0px;
  }
  .content-card {
    max-width: none;
  }

  @media (min-width: 768px) {
    .product-reccomendation-wrapper {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @media (min-width: 1024px) {
    .reccomendation-wrapper {
      display: flex;
      flex-wrap: nowrap;
    }

    .left {
      flex-direction: row;
    }

    .right {
      flex-direction: row-reverse;
    }

    img {
      max-width: 100%;
      height: auto;
      display: block;
      margin: 0 auto;
    }
  }
}
