@import '../../custom-theme.scss'; // Import the variables file
.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;  /* Adjust height as needed */
  position: relative;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  opacity: 1;
}

.hero-bg::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust the opacity for desired dimness */
  z-index: 1;
}

.hero-content {
  text-align: center;
  color: $text;
  z-index: 2;  /* Ensure the text stays above the background */
  padding: 20px;
  max-width: 80%;
  background: rgba(0, 0, 0, 0.0); /* Dark overlay for text readability */
  border-radius: 10px;
}

.hero-title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 15px;
  font-family: 'Poppins', sans-serif;
}

.hero-subheading {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  color: $text;
}



.highlighted-post p {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.highlighted-post a {
  color: $accent;  /* Bright yellow accent for the link */
  font-weight: bold;
}

.highlighted-post a:hover {
  color: $secondary;  /* Change to accent color on hover */
}

.last-modified{
  color: $text-muted;
}


.author-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 16px;
  border: 2px solid $primary;
}


.cta-buttons {
  display: flex; /* Use flexbox for alignment */
  flex-wrap: wrap; /* Allow wrapping if there are many buttons */
  gap: 5px; /* Adds consistent spacing between buttons */
  justify-content: center; /* Align buttons horizontally (optional) */
}

app-cta-button {
  margin: 5px; /* Adds space around individual buttons */
}
