<section class="text-section">

  <h2 class="title-wrapper">{{ metadata.title }}</h2>

  <div *ngFor="let paragraph of metadata.paragraphs" class="paragraph-container" [ngClass]="'image-' + (paragraph.image?.imagePosition || 'default')" style="margin-bottom: 0px;">
    <div class="paragraph-content">
      <!-- Image Block (Conditionally Rendered Above, Left, Right, Below) -->
      <div class="paragraph-image" *ngIf="paragraph.image">
        <img [src]="paragraph.image.src" [alt]="paragraph.image.altText" />
        <div class="image-caption" *ngIf="paragraph.image.caption">
          {{ paragraph.image.caption }}
        </div>
      </div>

      <!-- Text Content -->
      <div class="paragraph-text-wrapper" style="margin-bottom: 0px;">
        <div class="paragraph-text" [innerHTML]="sanitizeHtml(paragraph.text)"></div>

        <div class="cta-buttons" *ngIf="paragraph.ctas?.length">
          <app-cta-button
            *ngFor="let cta of paragraph.ctas"
            [identifier]="cta.identifier"
            [targetUrl]="cta.targetUrl"
            [source]="cta.source"
            [text]="cta.text"
            [accent]="cta.accent"
          >
            {{ cta.text }}
          </app-cta-button>
        </div>
      </div>
    </div>
  </div>
</section>
