@import '../../../custom-theme.scss';

.text-section {
  padding: 20px;
  background-color: $background;

  .paragraph-container {
    margin-bottom: 20px;

    .paragraph-content {
      display: flex;
      flex-direction: column; // Mobile default: stack vertically
      align-items: center;
      text-align: justify;

      .paragraph-text-wrapper {
        text-align: justify;
        margin-bottom: 10px;
      }

      .cta-buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }

      .paragraph-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        img {
          width: 100%;
          height: auto;
          border-radius: 5px;
          object-fit: contain;
        }

        .image-caption {
          font-size: 0.9rem;
          color: $text-dark;
          text-align: center;
        }
      }
    }

    /* Tablet & Desktop Styles */
    @media (min-width: 768px) {
      .paragraph-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        padding-left: 24px;
        padding-right: 24px;
      }

      /* Image Alignments */
      &.image-left .paragraph-content {
        flex-direction: row;
      }

      &.image-right .paragraph-content {
        flex-direction: row-reverse;
      }

      &.image-below .paragraph-content {
        flex-direction: column;

        .paragraph-image {
          max-width: 50%;
        }
      }
    }
  }
}
