  <footer class="footer-container">
    <div class="footer-content">
      <div class="footer-section">

        <h3>{{tenant()?.name}}
        </h3>
        <p>{{tenant()?.metadata.footer.subtitle}}
        </p>
      </div>
      <div class="footer-section">
        <h4>Quick Links</h4>
        <nav>
          <ul>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/privacy">Privacy Policy</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-section">
        <h4>Follow Us</h4>
        <div class="social-icons">

<!-- Facebook -->

@if (tenant()?.metadata.social.facebook) {
<a href="{{tenant()?.metadata.social.facebook}}" target="_blank" rel="noopener noreferrer">
  <i class="social-icon fab fa-facebook-f"></i>
</a>
}

<!-- Twitter -->
@if (tenant()?.metadata.social.twitter) {

<a href="{{tenant()?.metadata.social.twitter}}" target="_blank" rel="noopener noreferrer">
  <i class="social-icon fab fa-x"></i> <!-- Use fa-twitter instead of fa-x for correct icon -->
</a>
}
<!-- Instagram -->
@if (tenant()?.metadata.social.instagram) {

<a href="{{tenant()?.metadata.social.instagram}}" target="_blank" rel="noopener noreferrer">
  <i class="social-icon fab fa-instagram"></i>
</a>
}
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>© {{currentYear}} {{tenant()?.name}}. {{tenant()?.metadata.footer.copyrightText}}</p>

    </div>
  </footer>
