<section class="comparison-table">
  <div class="content-grid" [style.grid-template-columns]="3">
    <div *ngFor="let item of affiliateProducts; let i = index" class="grid-item">
      <mat-card class="content-card">

        <img
        class="item-image"
        [src]="item.media?.[0]?.src"
        [alt]="item.media?.[0]?.altText || 'Product Image'"
      />
      <span class="item-tag" *ngIf="metadata?.tags?.[i]">
        {{ metadata.tags[i] }}
      </span>


      <div style="display: flex; flex-direction: column; align-items: center; text-align: center;">
        <h3 class="item-name">{{ item.name }}</h3>
        <p class="item-description">{{ item.description }}</p>

        <app-star-ratings [starRatings]="item.metadata?.starRatings"></app-star-ratings>

        <app-cta-button
          [accent]="metadata?.cta?.accent ?? false"
          [text]="metadata?.cta?.text || 'Learn More'"
          [targetUrl]="item.affiliateUrl">
        </app-cta-button>
      </div>


      </mat-card>
    </div>
  </div>
</section>
