<section class="we-support">
  <h2>{{data.metadata.title}}</h2>
  <p class="section-intro-text">
    {{data.metadata.text}}
  </p>

  <div class="content-grid" [style.grid-template-columns]="gridCols">
    <div *ngFor="let support of data.metadata.dynamicData" class="grid-item">
      <mat-card class="content-card">
        <img [src]="support.media.src" [alt]="support.media.alt" class="support-logo" />
        <h3>{{ support.name }}</h3>
        <p>{{ support.description }}</p>

        <mat-card-actions>

        <button mat-raised-button class="cta-button-primary" color="primary" (click)="navigateToSupport(support.link)">
          Learn More
        </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</section>
