@import '../../../custom-theme.scss';

.we-support {
  text-align: center;
  background-color: $background;
  color: $text-dark;



  .support-logo {
    height: 128px;
    margin-bottom: 15px;
    object-fit: contain;
    border-radius: 20px;
  }
  .content-card {
    max-width: none;
  }



h3 {
text-align: center;
}

p{
  text-align: center;
  hyphens: auto;
}

mat-card-actions{
  text-align: center;
  justify-content: center;
}

}

h2{
  text-align: center;
}
