<section class="we-support">
  <h2>{{metadata.title}}</h2>
  <p class="section-intro-text">
    {{metadata.text}}
  </p>
  <div class="support-grid">
    <div *ngFor="let support of supportItems" class="support-item">
      <img [src]="support.logo" [alt]="support.name" class="support-logo" />
      <h3>{{ support.name }}</h3>
      <p>{{ support.description }}</p>
      <button mat-raised-button class="cta-button-primary" color="primary" (click)="navigateToSupport(support.link)">
        Learn More
      </button>
    </div>
  </div>
</section>
